.App {
    text-align: center;
    display: flex;
    flex-direction: column;
    min-height: 100vh
}

.App_content {
    flex: 1 0 auto;
}

.App-logo {
    height: 40vmin;
    pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
    .App-logo {
        animation: App-logo-spin infinite 20s linear;
    }
}

.App-header {
    background-color: #282c34;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: calc(10px + 2vmin);
    color: white;
}

.App-link {
    color: #61dafb;
}

@keyframes App-logo-spin {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}

a:hover {
    color: inherit !important;
    text-decoration: none !important;
}

* {
    outline: none !important;
}

.App-routes {
    margin-top: 110px;
}

.flex {
    display: flex;
    width: 100%;
    justify-content: space-between;
}

.vertical-align-top {
    vertical-align: top !important;
}

.makeStyles-root-4{
  height: auto !important;
}

body {
    height: 100vh;
}