.Modal {
    position: fixed;
    z-index: 1000;
    background-color: white;
    width: 70%;
    border: 1px solid #ccc;
    box-shadow: 1px 1px 1px black;
    padding: 16px;
    top: 20%;
    right: 0;
    bottom: 20%;
    left: 0;
    box-sizing: border-box;
    transition: all 0.3s ease-out;
    overflow: auto;
    min-height: 100px;
}

@media (min-width: 600px) {
    .Modal {
        width: 600px;
        left: calc(50% - 300px);
    }
}
