.CreateUser {
    display: flex;
    width: 100%;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    text-align: start;
}

.CreateUser_title {
    width: 100%;
    margin-bottom: 30px;
}

.CreateUser_form {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: start;
}

.CreateUser_form_input_wrapper {
    width: 100%;
    margin-bottom: 20px;
}

.CreateUser_form_input {
    width: 50%;
    margin-bottom: 10px;
}