.Footer {
    background-color: #303030;
    color: white;
    font-family: Arial, sans-serif;
    text-align: left;
    margin-top: 80px;
    position: relative;
    bottom: 0;
    flex: 0 0 auto;
}

.Footer_info_box {
    display: flex;
    justify-content: flex-start;
    padding: 20px 0;
    font-size: 13px;
    flex-wrap: wrap;
}

.Footer_copyright {
    background: black;
    color: dimgray;
    font-size: 9px;
    text-transform: uppercase;
    text-align: center;
}

.Footer_company_info {
    flex-basis: 30%;
}

.Footer_logo {
    margin-bottom: 10px;
}

.Footer_contacts_title {
    margin-bottom: 10px;
}

.Footer_company_contacts {
    flex-basis: 17%;
    display: flex;
    flex-direction: column;
    font-size: 15px;
}

.Footer_info_box_item {
    padding: 10px;
}

.Footer_company_social {
    font-size: 15px;
    flex-basis: 30%;
}

.Footer a {
    color: inherit !important;
}

.Footer a:hover {
    opacity: 0.7 !important;
}

.Footer_social_icon {
    color: white;
}

.Footer_info_item {
    margin: 10px 0;
}

.Footer_social_icons {
    display: flex;
}


@media screen and (max-width: 550px) {
    .Footer_info_box {
        flex-direction: column;
    }

    .Footer_info_box_item {
        margin-bottom: 20px
    }
}