@import "bootstrap";

.AdminPage, .CreatePage {
    display: flex;
    width: 100%;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    text-align: start;
}

.AdminPage_title {
    width: 100%;
    padding-bottom: 30px;
    text-align: center;
}

.AdminPage_form, .AdminPage_show {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: start;
    padding-left: 100px;
}

.AdminPage_form {
    @include media-breakpoint-down(sm) {
        padding-left: 3px;
    }
}

.MuiTablePagination-toolbar{
    @include media-breakpoint-down(sm) {
        width: 20%;
    }
}

.AdminPage_form_input_wrapper {
    width: 100%;
    margin-bottom: 20px;
    /* margin: 0 120px; */
}

.AdminPage_form_input {
    width: 50%;
    margin-bottom: 10px;

    @include media-breakpoint-down(sm) {
        width: 100%;
    }
}

.MuiInputBase-root {
    // width: 50%;

    @include media-breakpoint-down(sm) {
        width: 100%;
    }
}

.AdminPage_flexbox {
    display: flex;
    width: 100%;
}

.AdminPage_panel {
    max-width: 280px;
    margin-right: 10px;

    @include media-breakpoint-down(sm) {
        display: none;
    }
}

.AdminPage_panel_arrow {
    font-size: 30px;
}

.MuiFormLabel-root{
    @include media-breakpoint-down(md) {
        font-size: 13px !important;
    }
}

.search{
    text-align: start;
    width: 75%;
    display: flex;
    justify-content: flex-end;

    @include media-breakpoint-down(sm) {
        display: flex;
        margin-bottom: 10px;
        width: 100%;
        text-align: end;
    }
}

.add-search-block{
    display: flex;
    margin-left: auto;
    width: 75%;

    @include media-breakpoint-down(sm) {
        display: block;
        padding-left: 5px;
        width: 100%;
        text-align: end;
    }
}

.add_record{
    @include media-breakpoint-down(sm) {
        display: block;
        text-align: end;
    }
}

.search-input {
    width: 75%;
    @include media-breakpoint-down(sm) {
        width: 100%;
    }
}
h1, h2, h3, h4, h5 {
    text-align: center;

    @include media-breakpoint-down(sm) {
        text-align: start;
        padding-left: 20px;
    }
}

.MuiContainer-root {
    padding: 2px;
}