
.Comment {
    margin: 10px 0;
}
.Comment_line {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: #404040;
    color: white;
    padding: 3px 10px;
    font-weight: bold;
    border-radius: 3px 3px 0 0;
    border: 2px solid dimgray;

}
.Comment_btn {
    color: white !important;
}

.Comment_body {
    border-radius: 0 0 3px 3px;
    border: 2px solid dimgray;
    padding: 10px;
    border-top: none;
}

.Comment_parent {
    color: gray;
}



@media screen and (min-width: 780px) {
    .Comment_bottom{
        display: none;
    }
}

@media screen and (max-width: 780px) {
    .Comment_body{
        border-radius: 0;
        border-bottom:  none;
        border-top: none;
    }
    .Comment_line {
        border-radius: 0;
    }
}

