.BoughtProgram_exercise {
    margin: 5px;
    display: inline-flex !important;
    width: 90%;
    position: relative;
}

.BoughtProgram_card {
    position: relative;
    margin: 14px 0;
}

.BoughtProgram_overlay {
    position: absolute;
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background: rgba(255, 255, 255, 0.7);
    top: 0;
    left: 0;
}

.BroughtProgram_description_btn {
    padding: 0 10px !important;
    padding-left: 0 !important;
    font-size: 12px !important
}

.BoughtProgram_day_title {
    margin: 3px;
}

.BroughtProgram_content {
    text-align: left;
    flex-basis: 50%
}

.BroughtProgram_exercise_list {
    flex-basis: 25%;
}

.BroughtProgram_cards {
    max-height: 550px;
    overflow-y: scroll;
    flex-basis: 20%;
}

.BroughtProgram_comments {
    text-align: left;
    margin: 30px 0;
    max-width: 70%;

}

.Individual_program_flex {
    width: 70%;
    margin: 0 auto;
}

.Individual_program_comments {
    width: 70%;
    margin: 40px auto;
}

@media screen and (max-width: 1000px) {
    .flex {
        flex-direction: column;
        justify-content: flex-start;
        align-items: center;;
    }

    h3, h4, h5, h6 {
        padding-left: 0;
    }

    .BroughtProgram_cards {

        width: 80%;
        max-height: 125px;
        margin: 10px 0;

    }

    .MuiCardContent-root.BoughtProgram_card_content {
        padding: 0 !important;
    }


    .progress_day {
        display: none;;
    }

    .BroughtProgram_comments {

        max-width: 100%;
        margin: 30px auto;
    }

}


@media screen and (max-width: 780px) {
    .BroughtProgram_cards {
        width: 100%;
    }

    .BroughtProgram_card {
        text-align: center;
        padding: 10px;
    }

    .Comment_bottom {
        display: flex;
    }

    .Comment_head_icons {
        display: none;
    }

    .Individual_program_flex {
        width: 100%;
    }

    .Individual_program_comments {
        width: 100%;
    }
}

@media screen and (max-width: 450px) {
    .Comment_head {
        flex-wrap: wrap;
    }

    .BroughtProgram_card {
        text-align: center;
        padding: 10px;
        width: 100%;
        margin: 15px 0;
    }

}

