.AdminPanel_arrow {
    font-size: 20px;
    width: 35px;
    height: 35px;
    line-height: 0;
    font-weight: bolder;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    margin-left: auto;
    padding: 5px 30px 5px 5px;
    position: absolute !important;
    top: -30px;
    right: -40px;

}

.AdminPanel_arrow_wrap {
    text-align: right;
    position: relative;
}

.AdminPanel_link {
    min-width: 220px;
}